/* Form Header */

.form-header-1 {
	color: white;
	font-size: 4.5vmin;
	letter-spacing: 0.4vmin;
	line-height: 7vmin;
	margin: 9vmin 5vmin;
}

.form-header-2 {
	color: white;
	font-size: 3.5vmin;
	letter-spacing: 0.4vmin;
	line-height: 7vmin;
	margin: 5vmin 5vmin 20vmin 5vmin;
}

/* Strain Form */

.strain-form {
	margin: 10vmin;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.form-title {
	margin: 0;
	font-size: 4vmin;
	color: rgb(255, 255, 255);
	font-weight: 700;
	letter-spacing: 0.7vmin;
	list-style: none;
	text-align: left;
	margin-top: 2.5vmin;
	font-family: Arial, Helvetica, sans-serif;
}

.form-input {
	border-width: 0.1vmin;
	max-height: 200px;
	border-radius: 0vmin;
	border-color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.2);
	margin: 0 0 5vmin 0;
	font-size: 3vmin;
	color: rgb(255, 255, 255);
	font-weight: 450;
	letter-spacing: 0.3vmin;
	text-shadow: 0vmin 0vmin 0.2vmin black;
	list-style: none;
	text-align: left;
	margin-top: 1vmin;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}

.submit-button {
	width: 100%;
	border-width: 0.2vmin;
	border-radius: 0vmin;
	border-color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.5);
	font-size: 4vmin;
	color: rgb(255, 255, 255);
	font-weight: 600;
	letter-spacing: 0.7vmin;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2vmin;
	margin: 10vmin auto;
}

@media (min-width: 900px) {
	.form-header-1 {
		font-size: 2.5rem;
		line-height: 4vmin;
		margin: 2rem 6rem;
	}

	.form-header-2 {
		font-size: 2rem;
		line-height: 3rem;
		margin: 3rem 12rem 12rem 12rem;
	}

	.form-title {
		margin: 0;
		font-size: 1.8rem;
		color: rgb(255, 255, 255);
		font-weight: 700;
		letter-spacing: 0.7vmin;
		list-style: none;
		text-align: left;
		margin-top: 2.5vmin;
		font-family: Arial, Helvetica, sans-serif;
	}

	.form-input {
		margin: 0 0 3rem 0;
		font-size: 1.5rem;
	}

	.submit-button {
		font-size: 1.8rem;
		font-weight: 600;
	}
}

@media (min-width: 1500px) {
	.strain-form {
		margin: auto;
		max-width: 80rem;
		justify-content: center;
		align-items: center;
		text-align: left;
	}
}
