/* Form Header */

.create-form-header {
	color: white;
}

.edit-form-header {
	color: white;
}

/* Strain Form */

.strain-form-bg {
	filter: blur(0.8vmin) brightness(50%) contrast(70%) saturate(50%);
	display: flex;
	position: absolute;
	width: 100%;
	height: 140%;
	object-fit: cover;
	z-index: -10;
}

.strain-form {
	margin: 10vmin;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.form-title {
	margin: 0;
	font-size: 2.5vmin;
	color: rgb(255, 255, 255);
	font-weight: 700;
	letter-spacing: 0.7vmin;
	text-shadow: 0vmin 0vmin 0.2vmin black;
	list-style: none;
	text-align: left;
	margin-top: 2.5vmin;
	font-family: Arial, Helvetica, sans-serif;
}

.form-input {
	border-width: 0.1vmin;
	max-height: 200px;
	border-radius: 0vmin;
	border-color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0);
	margin: 0 0 5vmin 0;
	font-size: 1.75vmin;
	color: rgb(255, 255, 255);
	font-weight: 450;
	letter-spacing: 0.3vmin;
	text-shadow: 0vmin 0vmin 0.2vmin black;
	list-style: none;
	text-align: left;
	margin-top: 1vmin;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit-button {
	width: 100%;
	border-width: 0.2vmin;
	border-radius: 0vmin;
	border-color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.5);
	font-size: 2.5vmin;
	color: rgb(255, 255, 255);
	font-weight: 600;
	letter-spacing: 0.7vmin;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2vmin;
	margin: 3vmin 0 0 0;
}
